before_install:
  - sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn

cache:
  directories:
  - $HOME/.yarn-cache
  - node_modules

language: node_js
node_js:
  - 4
  - 6

script:
  - npm test
  - npm run build
